body {
		margin: 0;
		background: black;
}
main {
		display: grid;
		place-items: center;
		height: 100vh;
}
.clock {
		width: 500px;
		height: 500px;
		border: 5px solid white;
		border-radius: 50%;
}
.clock-face {
		width: 100%;
		height: 100%;
		transform: translateY(-5px);
}
.hand {
		width: 50%;
		height: 5px;
		background-color: white;
		position: absolute;
		top: 50%;
		transform: rotate(90deg);
		transform-origin: 100%;
		border-radius: 10px;
}
.hours{
	background-color: #f4bcbc;
}

.minutes{
	background-color: lightblue;
}
.seconds{
	background-color: lightgreen;
}
.nodule{
	width: 15px;
	height: 15px;
	background-color: white;
	position: absolute;
	border-radius: 50%;
	left: 49.45%;
    top: 49%;
    z-index: 10;
}