@font-face {
	font-family: "poppins";
	src: url("Poppins/Poppins-Medium.ttf") format("truetype");
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;;
	font-family: 'poppins', sans-serif;

}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: black;
}
.card{
	position: relative;
	width: 350px;
	height: 600px;
/*	background: #ccc;*/
	border-radius: 20px;
	display: flex;
	/*align-items: center;*/
	border-radius: 20px;
	transition: 0.5s;
}
.card .circle{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	overflow: hidden;
}
.card .circle::before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: darkgrey;
	clip-path: circle(120px at center);
	transition: 0.5s;
	box-shadow: 0 0 40px #ffff5b,
	0 0 60px #ffff5b,
	0 0 80px #ffff5b,
	0 0 100px #ffff5b;
}

.card:hover .circle:before {
	/*background-image: url(img-2.jpeg);*/
	clip-path: circle(400px at center);
	background: grey;
}
.card .circle1{
	position: absolute;
	top: -50px;
	left: 370px;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	overflow: hidden;
}
.card .circle1::before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: darkgrey;
	clip-path: circle(120px at center);
	transition: 0.5s;
	box-shadow: 0 0 40px #ffff5b,
	0 0 60px #ffff5b,
	0 0 80px #ffff5b,
	0 0 100px #ffff5b;
}
.card:hover .circle1:before {
	/*background-image: url(img-2.jpeg);*/
	clip-path: circle(400px at center);
	background: grey;
}
.card .circle2{
	position: absolute;
	top: 100px;
	left: -370px;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	overflow: hidden;
}
.card .circle2::before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: darkgrey;
	clip-path: circle(120px at center);
	transition: 0.5s;
	box-shadow: 0 0 40px #ffff5b,
	0 0 60px #ffff5b,
	0 0 80px #ffff5b,
	0 0 100px #ffff5b;
}
.card:hover .circle2:before {
	/*background-image: url(img-2.jpeg);*/
	clip-path: circle(400px at center);
	background: grey;
}
.card img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 300px;
	pointer-events: none;
	transition: 0.5s;
}
.card:hover img{
	top: 75%;
	left: 100%;
	height: 500px;
}
.card .content{
	position: relative;
	width: 100%;
	left: 20%;
	padding: 20px 20px 20px 40px;
	transition: 0.5s;
	opacity: 0;
	visibility: hidden;
}
.card:hover .content{
	left: 0;
	opacity: 1;
	visibility: visible;
}
.card .content h2{
	color: white;
	text-transform: uppercase;
	font-size: 2em;
	line-height: 1em;
	margin-bottom: 5px;
}
.card .content p{
	color: darkgrey;
}
.card .content a{
	position: relative;
	color: white;
	padding: 10px 20px;
	border-radius: 10px;
	background: white;
	color: black;
	margin-top: 10px; 
	display: inline-block;
	text-decoration: none;
	font-weight: 700；
}




